@font-face {
	font-family: japa;
	src:url('fonts/NightinTokyo.ttf')
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	

}

body {
	margin: 0;
	padding: 0;
	background-color: #020206;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: arial;


	


}
nav {
	background: #8e2727;
	height: 85px;
	width: 100%;
	transition: 3s;

}
@media only screen and (max-width: 992px) {
	nav {
	background: #8e2727;
	height: 80px;
	width: 100%;
	transition: 2s;
	

    }
}

label.logo {
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
	transition: 2s;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
	transition: 3s;
}

nav ul li a{
	color: white;
	font-size: 20px;
	padding: 7px 13px;
	border-radius: 10px;
}
a.active, a:hover{
	background: #000000db;
	cursor: pointer;
	transition: all 1s ease;
	margin-top: 10px;

}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: gray;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: .5s;
		z-index: 1;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: black;
		
	}
	#check:checked ~ ul {
		left: 0;
	}
}


.logo{
	width: 100px;
	transform: rotate(360deg);
	border-radius: 50px;
	padding: 10px;
	margin-top: -10px;
	margin-left: 60px;
	transition: 2s;
}


@media only screen and (max-width: 992px) {
	.logo {
	width: 92px;
	transform: rotate(360deg);
	transition: 2s;
	border-radius: 50px;
	margin-top: -10px;
	margin-left: 10px;
	padding: 10px;
    }
}

.txt1 {
	text-align: center;
	color: white;
	font-family: 'japa';
	font-size: 60px;
	margin: 0;
	padding: 250px;
	background-size: cover;
	transition: 2s;
   
}

@media screen and (max-width: 992px) {
	.txt1 {
	color: white;
	font-style: inherit;
	font-family: 'japa';
	font-size: 30px;
	margin: 0;
	padding: 70px;
	background-size: cover;

    }
}


.txt2 {
	color: white;
	text-align: center;
	font-size: 60px;
	font-family: 'Monteserrat', sans-serif;
	padding: 200px;
	margin: 0;
	background: #8e2727;
}
@media screen and (max-width: 992px) {
	.txt2 {
	color: white;
	font-style: inherit;
	font-family: 'japa';
	font-size: 45px;
	margin: 0;	
	padding: 100px;
        margin-left: auto;
        margin-right: auto;
	max-height: 100%;
	max-width: 100%;
	
	

    }
}

.container img { 
	width: 1200px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border-radius: 20px;
	height: 600px;
	max-height: 100%;
	max-width: 100%;
	background-size: cover;

	


}

@media screen and (max-width: 992px) {
	.container img {
		display: none;
	


    }
}

.txt3 {
     width: 1000px;
     color: white;
     font-size: 50px;
     color: white;
     text-align: center;
     font-family: 'Sacramento', cursive;
     border: solid 1px;
     border-radius: 10px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     box-shadow: red;
     max-width: 100%;
     max-height: 100%;

}
@media screen and (max-width: 992px) {
	.txt3 {
	width: 410px;
	color: white;
	font-style: inherit;
	font-family: 'Sacramento', cursive;	
	font-size: 35px;
	margin: 0;	
	padding: 50px;
	transform: translate(-20px, 0px);
        margin-left: 18px;
    }
}

.moto {
	transform: translate(500px, -1585px);
	width: 200px;
	display: none;
}

.moto {
  animation-duration: 10s;
  animation-name: slidein;

}

@keyframes slidein {
  from {
    margin-left: -600px;
    
  }

  to {
    margin-left: 80px;
  }
}




@media screen and (max-width: 992px) {
	.moto {
	width: 200px;
	transform: translate(175px, -725px);
	display: none;
    }
}

.txt4 {
      color: white;
      text-align: cent
	      
	      
	      er;
      font-size: 65px;
      font-family: 'Monteserrat', sans-serif;
      padding: 80px;
      margin: 0;
      background: #8e2727;
      margin-left: -25px;	

}

@media only screen and (max-width: 992px) {
	.txt4 {
   margin-left: -30px;
   margin-left: -25px;
   font-size: 50px;
}
}

.menu{
    width: 100%;
    padding: 10rem 5rem;
    background-color: #0c0c10;
}
@media only screen and (max-width: 992px) {
	.menu {
    display: none;
    width: 100%;
    padding: 10rem 5rem;
    background-color: #0c0c10;
}
}

.menu-heading{
    font-size: 12rem;
    text-align: center;
    text-shadow: 0 0 1rem rgba(0,0,0,.9);
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}

.menu-grid{
    display: grid;
    grid-template-rows:repeat(2, 1fr) ;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    grid-gap: 2rem;
}

.heading-secondary{
    font-size: 7rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.menu-img{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/prato1.jpeg");
}
.menu-img2{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/prato2.jpeg");
}
.menu-img3{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/prato3.jpeg");
}
.menu-img4{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;	
    background-image: url("img/prato4.jpeg");
}
.menu-img5{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/prato5.jpeg");
}
.menu-img6{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/prato6.jpeg");
}
.menu-img7{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/prato7.jpeg");
}

.menu-container{
    width: 100%;
    height: 50rem;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
    transition: all .4s ease;
}

.menu-container:hover{
    box-shadow: 0 0 5rem rgba(0,0,0,.4);
    transform: scale(1.07);
}

.menu-p{
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
}



.menu-title{
    font-size: 3rem;
    text-align: center;
    font-family: japa;
}

.price{
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: #da6b1d;
    text-shadow: 0 .4rem 2rem rgba(0,0,0,.4);




	















